<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>gillibrand.jay.pinboard.login</string>
	<key>CFBundleName</key>
	<string>Pinboard: Log In</string>
	<key>LBTextInputTitle</key>
	<string>API Token</string>
	<key>CFBundleIconFile</key>
	<string>PinboardTemplate.png</string>
	<key>LBAbbreviation</key>
	<string>pbl</string>
	<key>LBDebugLogEnabled</key>
	<false/>
	<key>CFBundleVersion</key>
	<string>1.4.1</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBScriptName</key>
			<string>pinboard-login.js</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBLiveFeedbackEnabled</key>
			<true/>
		</dict>
	</dict>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Jay Gillibrand</string>
		<key>LBWebsite</key>
		<string>https://github.com/gillibrand/launchbar-pinboard</string>
		<key>LBSummary</key>
		<string>Required to log in to your Pinboard account. Used by other Pinboard actions.</string>
	</dict>

</dict>
</plist>
